$accent: #F2C08E
$alt-bg: #D1D8B8
$alt-color: #E1B091
$body-bg: #B15857
$body-color: #EDE7CB

.accent-bg-color
  background-color: $accent !important
  border-color: $accent !important
.alt-bg-color
  background-color: $alt-bg !important
  border-color: $alt-bg !important
