.site
  display: flex
  flex-direction: column
  min-height:100vh

.site-content
  flex: 1


.navbar
  background-color: $body-bg
  padding: 2rem 0rem 1rem 1rem
  margin: 0rem


.my-divider
  background-color: $accent
  height: 10px
  width: 95%
  margin: 2rem auto


button, .btn
  transition: all 0.2s ease
  color: #ffffff !important
  &:hover
    background-color: rgba($accent, 0.1) !important
    color: $body-bg

.my-header-content
  margin: 1.2rem
  h1
    font-size: 2rem
  .header-text-two
    font-size: 2.3rem
  .my-padding-one
    padding-top: 4.5rem

.client-container
  display: grid
  place-items: center
  margin: 1rem auto
  .row
    margin: 1rem 0.5rem
    h1
      font-weight: 900
      font-size: 2rem
      &:hover
        color: #fff
    p
      color: $accent
      margin: -1rem 0rem 0rem 4rem
      font-size: 0.9rem
    a
      color: $alt-color
      &:hover
        color: #fff
    .you
      font-size: 6rem

  .badge
    color: $accent

.footer
  text-align: center
  padding: 2rem
  background-color: $alt-color
  position: relative



@media (min-width: 768px)
  .my-header-content
    h1
      font-size: 4rem
    .header-text-two
      font-size: 5rem
    .my-padding-one
      padding-top: 2.5rem
  .client-container
    .row
      h1

        font-size: 3.5rem
      p
        margin: -1rem 0rem 0rem 5rem
        font-size: 2rem
      .you
        font-size: 8rem
  .specialist-container
    .django-logo
      margin-top: 3rem
  footer
    p
      font-size: 1.2rem


@media (min-width: 1200px)
  .my-header-content
    h1
      font-size: 5rem
    .header-text-two
      font-size: 6rem
    .my-padding-one
      padding-top: 5rem

  .about-container
    h1
      font-size: 4rem
    p
      font-size: 1.5rem

  .specialist-container
    h2
      font-size: 3rem
    p
      font-size: 1.5rem
    .django-logo
      margin-top: 3.5rem

  .client-container

    .row
      h1
        font-size: 6.5rem
      p
        font-size: 2rem
      .badge
        font-size: 2rem
