.site
  display: flex
  flex-direction: column
  min-height:100vh

.site-content
  flex: 1


.navbar
  background-color: $body-bg
  padding: 2rem 0rem 1rem 1rem
  margin: 0rem
  .btn
    transition: all 0.2s ease
    color: #ffffff !important
    &:hover
      background-color: rgba($accent, 0.1) !important
      color: $body-bg

.my-divider
  background-color: $accent
  height: 10px
  width: 95%
  margin: 2rem auto



.my-header-content
  margin: 1.2rem
  h1
    font-size: 2rem
  .header-text-two
    font-size: 1.8rem
  .my-padding-one
    padding-top: 4.5rem

.footer
  text-align: center
  padding: 2rem
  background-color: $alt-color
  position: relative



@media (min-width: 768px)
  .my-header-content
    h1
      font-size: 4rem
    .header-text-two
      font-size: 5rem
    .my-padding-one
      padding-top: 2.5rem

@media (min-width: 1200px)
  .my-header-content
    h1
      font-size: 5rem
    .header-text-two
      font-size: 6rem
    .my-padding-one
      padding-top: 5rem
