<div class="contact-container mb-5">
  <div class="container text-center main-text">
    <h2 class="accent-color">Contact me</h2>
    <p class="my-text">You can contact me using the form below, or by simply clicking <a href="mailto:developer.abdullahinur@gmail.com" class="accent-color">here</a>. I normally repsond within the same day. To get a concise quote of the work to be done, please inlcude as much detail as possible.</p>
    <small class="accent-color"><span class="text-danger">(</span> Currently open to select projects <span class="text-info">ONLY</span><span class="text-danger">)</span></small>
  </div>
  <hr>
  <div class="form-container mb-5 text-center">

    <div *ngIf="alert" class="alert alert-warning fade show" role="alert">
      <strong>Success!</strong> The message has been sent.
    </div>


    <form ngNoForm action="https://liveformhq.com/form/bbf4f0ea-255f-4568-958c-34ed4f52d553" method="POST" accept-charset="utf-8" id="contactForm">
      <div class="form-group">
        <mat-form-field>
          <input matInput type="email" placeholder="Your Email" name="_replyto" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Subject" name="subject" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <textarea matInput placeholder="Message" name="message" required></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" class="accent-bg-color">Send Message</button>
    </form>
  </div>
  <hr class="my-divider">
  <div class="row my-5">
<div class="col-12 col-md-8">
  <h3 class="accent-color">Disclaimer</h3>
  <p>All the information on this website - abdullahinur.com - is published in good faith and for general information purpose only. abdullahinur does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (abdullahinur), is strictly at your own risk. abdullahinur will not be liable for any losses and/or damages in connection with the use of our website.</p>
  <div class="disclaimer-link">
    <a href="https://www.disclaimergenerator.net/live.php?token=baZjCcy2PAC5NIX95dMzdNErk6haOcJ2">More...</a>
  </div>
</div>

    <div class="col-12 col-md-4 text-center">
      <address>
        <p><strong>Abdullahinur Abdullahi</strong></p>
        <p>Nairobi</p>
        <p>Kenya</p>
      </address>
      <address>
        <p><strong>Email</strong></p>
        <a href="mailto:developer.abdullahinur@gmail.com" class="accent-color">developer.abdullahinur@gmail.com</a>
      </address>
    </div>
  </div>

</div>
