<div class="portfolio-container">
<div class="container bg-dark p-5">
  <label>Filter</label>
  <hr>
  <p>Type:</p>
  <mat-radio-group [(ngModel)]="selectedType">
    <mat-radio-button class="mr-2" value="all">All</mat-radio-button>
    <mat-radio-button class="mr-2" value="angular">Angular</mat-radio-button>
    <mat-radio-button class="mr-2" value="django">Django</mat-radio-button>
  </mat-radio-group>
  <div>
    {{selectedType}}
  </div>
</div>
  <div class="rellax accent-bg-color m-5 p-5" data-rellax-speed="0" *ngFor="let project of projects">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <img [src]="project.preview + '?text=' + project.name" [alt]="project.name" class="image-fluid rellax" data-rellax-speed="0">
  </div>
</div>
