<div class="portfolio-container">
<div class="container bg-dark p-5">
  <label>Filter</label>
  <hr>
  <p>Type:</p>
  <mat-radio-group [(ngModel)]="selectedType">
    <mat-radio-button class="mr-2" value="all">All</mat-radio-button>
    <mat-radio-button class="mr-2" value="angular">Angular</mat-radio-button>
    <mat-radio-button class="mr-2" value="django">Django</mat-radio-button>
  </mat-radio-group>
  <div>
    {{selectedType}}
  </div>
</div>

  <div class="rellax bg-primary m-5 p-5" data-rellax-speed="-7">
    I’m that default chill speed of "-2"
  </div>
  <div class="rellax bg-warning m-5 p-5" data-rellax-speed="-5">
    I’m super fast!!
  </div>
  <div class="rellax bg-info m-5 p-5" data-rellax-speed="-3">
    I’m extra slow and smooth
  </div>

</div>
